nicegui
fastapi
uvicorn
sqlalchemy
pymysql
cryptography
pydantic
pydantic-settings
python-dotenv
requests
bcrypt
pyjwt
pillow
opencv-python
mediapipe
scikit-learn
faiss-cpu
sentence-transformers
torch
diffusers
email-validator
duckduckgo-search


